*

!*.feature
!*.xls*
!*.py
!*.bat
!.gitignore
!.gitkeep
!requirements.txt
!*.yml
!lunch_uiauto.cmd
!*.sql
!*.db
!Jenkinsfile
!Azure_release_pipline.json
!temp
!temp/*
!/script/httpbin.org
!/script/reqres.in
